.logo {
    animation: rotate 10s ease-in-out infinite;
    margin-right: 1rem;
}

@keyframes rotate {
    0%, 100%{
        transform: rotate(0deg);
    }50% {
    transform: rotate(360deg);
         }
}

.sign-in {
    width: max-content;
    position: absolute;
    left: 93%;
}

@media screen and (max-width: 1023px) {
    .sign-in {
        position: relative !important;
        left: 0%;
        /*left: 45%;*/
        width: 100%;
            }
}
.foot-elm{
    float: left;
}
/*@media screen and (max-width: 767px) {*/
    /*.sign-in {*/
        /*position: relative !important;*/
        /*left: 43%;*/
    /*}*/
/*}*/