#country_type {
    width: 71%;
    padding-left: 2%;
    margin-left: 18%;
}

#conditions {
    display: inline-block;
    padding-left: 3%;
}

#agree {
    width: max-content;
    display: inline-block;
    height: max-content;
}

#country_type_div {
    display: inline-block;
}

#phone_number_div {
    display: inline-block;
}

#conditions_div {
    padding-left: 36%;
}

#conditions a:hover {
    color: #84161e;
}

#conditions a:link {
    color: #840c0d;
}

#conditions a {
    text-decoration: none;
}

#modal_form {
    border-radius: 5px;
    border: 3px #000 solid;
    top: 45%;
    opacity: 0;
    z-index: 5;
    padding: 20px 10px;
    position: fixed;
    left: 50%;
    background: #fff;
    text-align: center;
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.1);
    display: none;
}

#overlay {
    z-index: 3;
    position: fixed;
    background-color: #000;
    opacity: 0.8;
    -moz-opacity: 0.8;
    filter: alpha(opacity=80);
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    cursor: pointer;
    display: none;
}

#modal_close {
    float: right;
    height: max-content;
    cursor: pointer;
    position: relative;
}

#modal_close:hover {
    background: #ddd;
    color: #fff;
}

#modal_name {
    display: inline-block;
    font-size: 20px;
}

#modal_content {
    text-align: center;
    padding: 25px;
    font-size: 16px;
}

@media screen and (max-width: 2560px) {
    #modal_close {
        width: 9%;
        line-height: 75%;
        border-radius: 50%;
        font-size: 62px;
        margin-top: -2%;
    }

    .footer-element {
        width: 50%;
    }

    .num {
        padding-right: 12%;
    }

    #modal_form {
        width: 30%;
        height: 30%;
        margin-top: -7%;
        margin-left: -15%;
    }
}

@media screen and (max-width: 1900px) {
    #modal_close {
        width: 11%;
        line-height: 75%;
        border-radius: 50%;
        font-size: 62px;
        margin-top: -4%;
    }

    .num {
        padding-right: 18%;
    }

    .footer-element {
        width: 50%;
    }

    #modal_form {
        width: 30%;
        height: 30%;
        margin-top: -7%;
        margin-left: -15%;
    }
}

@media screen and (max-width: 1600px) {
    #modal_close {
        width: 11%;
        line-height: 75%;
        border-radius: 50%;
        font-size: 62px;
        margin-top: -4%;
    }

    .num {
        padding-right: 22.5%;
    }

    .footer-element {
        width: 50%;
    }

    #modal_form {
        width: 30%;
        height: 30%;
        margin-top: -7%;
        margin-left: -15%;
    }
}

@media screen and (max-width: 1450px) {
    #modal_close {
        width: 10%;
        line-height: 75%;
        border-radius: 50%;
        font-size: 62px;
        margin-top: -3%;
    }

    #modal_form {
        width: 40%;
        height: 30%;
        margin-top: -7%;
        margin-left: -20%;
    }

    .row {
        margin-top: 2%;
    }

    .num {
        padding-right: 22.5%;
    }

    .footer-element {
        width: 50%;
    }
}

@media screen and (max-width: 1100px) {
    #modal_close {
        width: 11%;
        line-height: 75%;
        border-radius: 50%;
        font-size: 62px;
        margin-top: -4%;
    }

    #modal_form {
        width: 45%;
        height: 30%;
        margin-top: -7%;
        margin-left: -22%;
    }

    .row {
        margin-top: 2%;
        margin-bottom: 10%;
    }

    .num {
        padding-right: 32.5%;
    }

    .footer-element {
        width: 50%;
    }
}

@media screen and (max-width: 950px) {
    #modal_close {
        width: 8%;
        line-height: 75%;
        border-radius: 50%;
        font-size: 62px;
        margin-top: -2%;
    }

    #modal_form {
        width: 71%;
        height: 35%;
        margin-top: -17%;
        margin-left: -34%;
    }

    .row {
        margin-top: 5%;
        margin-bottom: 12%;
    }

    .num {
        padding-right: 42.5%;
    }

    .footer-element {
        width: 50%;
    }
}

@media screen and (max-width: 600px) {
    #modal_close {
        width: 14%;
        line-height: 67%;
        border-radius: 50%;
        font-size: 56px;
        margin-top: -4%;
    }

    #modal_form {
        width: 66%;
        height: 39%;
        margin-top: -35%;
        margin-left: -33%;
    }

    .row {
        margin-top: 12%;
        margin-bottom: 17%;
    }

    .footer-element {
        width: 50%;
    }
}

@media screen and (max-width: 525px) {
    .footer-element {
        width: max-content;
        float: right;
    }
}

@media screen and (max-width: 375px) {
    #modal_close {
        width: 14%;
        line-height: 67%;
        border-radius: 50%;
        font-size: 56px;
        margin-top: -4%;
    }

    #modal_form {
        width: 82%;
        height: 34%;
        margin-top: -40%;
        margin-left: -41%;
    }

    .row {
        margin-top: 15%;
        margin-bottom: 20%;
    }

    .footer-element {
        width: max-content;
        float: right;
    }
}

@media screen and (max-width: 365px) {
    .row {
        margin-top: 35%;
        margin-bottom: 25%;
    }

    .navbar-brand {
        padding-left: 22%;
        padding-bottom: 15%;
    }

    .ul-nav {
        padding-left: 30%;
    }

    .footer-element {
        width: max-content;
        float: right;
    }
}

@media screen and (max-width: 320px) {
    #app {
        min-width: 320px;
        min-height: 300px;
    }

    .row {
        margin-top: 35%;
        margin-bottom: 25%;
    }

    .navbar-brand {
        padding-left: 22%;
        padding-bottom: 15%;
    }

    .ul-nav {
        padding-left: 30%;
    }

    .footer-element {
        width: max-content;
        float: right;
    }
}

@media screen and (max-width: 425px) {
    .footer-element {
        width: max-content;
        float: right;
    }
}

#logo {
    animation: rotate 10s ease-in-out infinite;
    margin-right: 1.5rem;
    display: inline-block;
}

@keyframes rotate {
    0%, 100% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(360deg);
    }
}

.sign-in {
    width: max-content;
    position: absolute;
    left: 93%;
}

@media screen and (max-width: 1023px) {
    .sign-in {
        position: relative !important;
        left: 0%;
        /*left: 45%;*/
        width: 100%;
    }
}

.transparent {
    background-color: transparent !important;
}

.header {
    margin-bottom: 2%;
    padding-bottom: 1%;
    background-color: #343a40;
    position: fixed;
    width: 100%;
    transition: .6s;
}

.title {
    display: inline-block;
    color: #fefefe;
    font-size: 2rem;
}

.log-button {
    background-color: #4caf50;
    border-color: #4caf50;
    color: #fff;
}

.log-button:hover {
    background-color: #237226;
    border-color: #237226;
    color: #fff;
}

.li-nav {
    display: inline;
}

.ul-nav {
    margin-right: 3%;
    padding-top: 1%;
}

.drop-btn {
    border-radius: .25em;
    width: max-content;
    font-size: 2rem;
}

.footer {
    position: fixed;
    bottom: 0;
    background-color: #343a40;
    width: 100%;
    height: 9%;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;
    transition: .6s;
}

.footer-element {
    display: inline-block;
    font-size: 150%;
    padding-top: 1.3%;
}

.footer-title {
    color: #fff;
}

.footer-scroll {
    position: fixed;
    bottom: 0;
    background-color: #fff;
    width: 100%;
    height: 9%;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;
    transition: .6s;
}

.header-scroll {
    margin-bottom: 2%;
    padding-bottom: 1%;
    background-color: #fefefe;
    position: fixed;
    width: 100%;
    transition: .6s;
}

.title-scroll {
    display: inline-block;
    color: rgba(0, 0, 0, .9);
    font-size: 2rem;
}

.footer-title-scroll {
    color: rgba(0, 0, 0, .9);
}

.container {
    padding-top: 5%;
}

.link {
    color: #007bff;
}

.fl-right {
    float: right;
}

.num {
    color: #007bff;
}

.error-role {
    color: red;
    font-size: 260%;
    padding-top: 5%;
}