* {
    margin: 0 auto;
    user-select: none;
}
body {
    background-color: gainsboro;
}

.content {
    max-width: 900px;
}
.transparent {
    background-color: transparent !important;
}
.carousel {
    margin-top: 4.5rem;
}

.bg-light {
    transition: .6s;
}

.bg-dark {
    transition: .6s;
}
