.NewsDeck input {
    border: none;
    border-bottom: 2px solid gray;
    width: 100%;
    margin-bottom: 2rem;
}

.NewsDeck input:focus {
    outline: none;
    border-bottom-color: #4caf50;
    transition: color-indent 1s;
}

.NewsDeck textarea {
    border: none;
    border-bottom: 2px solid gray;
    width: 100%;
}

.NewsDeck textarea:focus {
    outline: none;
    border-bottom-color: #4caf50;
    transition: color-indent 1s;
}