.content {
  max-width: 1024px;
  margin-top: 71px;
  margin-bottom: 70px;
}
.content img {
  width: 100%;
}
/** {
  margin: 0 auto;
  user-select: none;
}*/
/*
body {
  background-color: gainsboro;
}
*/

.news-container {
  text-align: center;
  padding-bottom: 4rem;

}

.news-box {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
}

.transparent {
  background-color: transparent !important;
}

.bg-light {
  transition: 0.6s;
}

.bg-dark {
  transition: 0.6s;
}
.directory-content {
  display: inline-flex;
}
.directory-content img {
  max-width: 800px;
}
.carousel img {
  max-height: 575px;
}
.carousel-caption {
  /*background-color: rgba(0, 0, 0, 0.5);*/
}
.mb-3 {
  width: 100%;
  word-break: break-word;
  max-width: 850px;
}
@media screen and (max-width: 1023px) {
  .directory-nav {
    display: none;
  }
}
.card-body {
  word-break: break-word;
}
.loader-container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: -10%;
  left: 0;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  overflow: auto;
  z-index: 9999999;
  background-color: rgba(0 0 0 0.6);
}
.news-box-loader {
  top: 30%;
}
.btn-link {
  color: white;
}
.btn-link:hover {
  text-decoration: none;
  color: white;
}
