/*
.main {
  max-width: 1024px;
  margin-top: 71px;
  margin-bottom: 70px;
}
.main img {
  width: 100%;
}

.news-container {
  margin-top: 50px;
  text-align: center;
  padding-bottom: 4rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px 20px;
}
.news-button {
  grid-column: 2;
  width: 150px;
  justify-self: center;
}
.news-box {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
}

.loader-container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: -10%;
  left: 0;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  overflow: auto;
  z-index: 9999999;
  background-color: rgba(0 0 0 0.6);
}
.news-box-loader {
  top: 30%;
}

@media only screen and (max-width: 1024px) {
  .news-container {
    grid-template-columns: 1fr;
  }
  .news-button {
    grid-column: 1;
  }
}
*/
.Main_carousel_image {
  max-height: 550px;
  width: 100%;

}